<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ logo }}</h1>
<p>Ce site exploite un jeu de Puissance 4, vous permettant de jouer à 2 ou seul contre une IA et de vous comparer
    aux autres joueurs.</p>
{% if user != "": %}
    <h4>Hello {{ user }}</h4>
    <a href="{{ url_for('power_four') }}">Jouer</a>
    <a href="{{ url_for('scoreboard') }}">Scoreboard</a>
    <a href="">Déconnexion</a>
{% else %}
    <a href="{{ url_for('login') }}">Connexion</a>
    <a href="{{ url_for('scoreboard') }}">Scoreboard</a>
{% endif %}
</body>
</html>