<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/main.css'>
</head>

<body>
    <h1>{{ logo }}</h1>
    <div class="container">
        <form action="{{ url_for('login_player') }}" method="post">
            <label for="username"><b>E-mail</b></label>
            <input type="text" placeholder="Votre adresse email" name="email" required>
            <label for="password"><b>Mot de passe</b></label>
            <input type="password" placeholder="Votre mot de passe" name="password" required>
            <button class="registerbtn" type="submit">Connexion</button>
        </form>
    </div>
    <a href="{{ url_for('signup') }}">Vous n'avez pas de compte ?</a>
</body>

</html>