<!DOCTYPE html>
<html>
<head>
    <head>
        <title>{{ title }}</title>
    </head>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
<body>
    <h1>{{ logo }}</h1>
<div class="container">
    <label for="nickname"><b>Pseudo</b></label>
        <input type="text" placeholder="Votre pseudo" name="nickname" required>
    <label for="email"><b>E-mail</b></label>
    <input type="text" placeholder="Votre adresse email" name="email" required>

    <label for="password"><b>Mot de passe</b></label>
    <input type="password" placeholder="Votre mot de passe" name="password" required>

    <button class="registerbtn" type="submit">S'enregistrer</button>
  </div>
</body>
</html>